  #nav_logo{
    height: auto;
    width: 40%;
    


}
a{
    color:#000;
}
a:hover{
    color: #ff7b43;
}
@media(max-width:500px){
    #nav_logo{
        height: auto;
        width:60%;
        
    
    
    }
}
#nav_logo1{
    height: 20%;
    width: 32%;
    


}


   


#base{
    position: absolute;
    width: 100%;
    left: 0;
}
#user_logo{
    
    height: auto;
    width: 25px;
}

#header_img{

width: 100%; 
height: 90vh;

/* background-image: url('../assets/img/header_background.png'); */
background-color: #cccccc;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
box-shadow: inset 0 0 0 2000px rgba(220, 220, 220, .5);

}
#header_img2{

  width: 100%; 
  height: 90vh;
  
  background-image: url('../assets/logos/LogosPNG/LogosSize/Nosotros.png');
  

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  }
  #header_img3{

    width: 100%; 
    height: 90vh;
    
    background-image: url('../assets/logos/LogosPNG/LogosSize/Distribuidor.png');
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
        
    }
    #header_img4{

      width: 100%; 
      height: 90vh;
      
      background-image: url('../assets/img/Encuéntranos.png');
      background-color: #cccccc;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
          
      }
      #header_img5{

        width: 100%; 
        height: 90vh;
        
        background-image: url('../assets/logos/LogosPNG/LogosSize/Bolsa-De-trabajo.png');
        background-color: #cccccc;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
            
        }
        #header_img6{

          width: 100%; 
          height: 90vh;
          
          background-image: url('../assets/logos/LogosPNG/LogosSize/blog.png');
          background-color: #cccccc;
          background-position: center; /* Center the image */
          background-repeat: no-repeat; /* Do not repeat the image */
          background-size: cover; /* Resize the background image to cover the entire container */
              
          }    
#header_title{
    color: #f8f8f8;
    text-shadow: 8px 8px 4px #555;
    font-size: calc(36px + 5vw);
    padding-top: max( 10px, 3%);
    margin-top: 5%;
}

@media (max-width:500px) {
  #header_title{
    color: #f8f8f8;
    font-size: calc(28px + 3vw);
    padding-top: max( 10px, 3%);
    margin-top: 5%;
  }
  
}


#header_button{
    color: #fefefe;
    background-color: #e03f0a;
}
 .stretch-card>.card {
     width: 100%;
     min-width: 100%
 }


 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 3rem
 }


.owl-carousel .item{
  margin: 3px;
}
.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

.owl-carousel .item {
    margin: 3px;
}

.owl-carousel{
    margin-bottom:15px;
}
#orange_title{
    color: #ff7b43;
    font-size: 3rem;
}
#our_history  {
  width: 100%;
  height: auto;
  background-color: #00386e;
    
}
#our_history_title{
    color:#fff;
    font-size: 5rem;
  
  
   
}
@media(max-width:1100px){
  #our_history_title{
    color:#fff;
    font-size: 3rem;
  
  
   
}
 }
@media(max-width:600px){
  #our_history_title{
    color:#fff;
    font-size: 1.4rem;
  
  
   
}

}

#our_history_img{
    margin: 5% ;
    padding: 1%;
    height: 80%;
    width: auto;    
    border: solid;
    border-color: #fff;
    border-radius: 30px;
    
    
}
#channels{
    width: auto;
    height: 60vh;
}

#job-offers{
    padding: 5%;
    

    background-color: #d3eef3;
}
#job-offers-title{
    font-size:5rem;
}
@media(max-width:900px){
    #job-offers-title{
        font-size:3rem;
    }

}

@media (max-width: 480px) {

    #channels{
        width: auto;
        height: 200px;
    }

    #our_history  {
    height: 325px;
    background-color: #00386e;

    
    
}
#our_history_img{
    margin-top: 50% ;
    padding: 1%;
    height: auto;
    width: 80%;    
    border: solid;
    border-color: #fff;
    border-radius: 30px;
    
    
}
#our_history_title{
    color:#fff;
    margin-top: 60%;
    margin-right: 50%;
}


   #footer_logo{
    height: auto;
    width: 50%;
}
   

}

#job_offers_img{
    margin: 1rem;
    height: auto;
    width: 100%;
}
#blog_img{
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 60%;
    padding-right: 10%;
    padding-left: 10%;
    margin:0 auto;    
    border-radius: 30px;
}
#blog_entry{
    border: solid;
    border-radius: 15px;
  
    width: auto;
    

}
#identity{
  border: solid;
  border-color: #f18562 ;
  border-radius: 15px;
  background-color: #f18562;
  height: 70vh;
  width: auto;
  position: relative;
  
}
@media(max-width: 900px){
  #identity{
    border: solid;
    border-color: #f18562 ;
    border-radius: 15px;
    background-color: #f18562;
    height: 80vh;
    width: auto;
    position: relative;
    
  }
}

#blog_enty_row{
    padding:5%;
    
}
#footer{
    background-color: #ff7b43;
}
#footer_logo{
    height: auto;
    width:25%;
}
#footer_menu_left{
  margin-left: 70%;  
}
#footer_menu_right{
    margin-right: 70%;  
  }

#about_us_our_history  {

    min-height: 300px;
    background: #0d3880;
    background-size: 60%;
    background-repeat: no-repeat;
    background-image:  linear-gradient(90deg, rgba(0,56,110,1) 0%, rgba(12,56,128,1) 0%, rgba(0,56,110,0.5396533613445378) 25%), url('../assets/logos/founders.jpg');
    background-position: 100% 5% ;
    
}
@media (max-width: 900px){
  #about_us_our_history  {
    height: 350px;
    background: #0d3880;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:  linear-gradient(90deg, rgba(0,56,110,1) 0%, rgba(12,56,128,1) 0%, rgba(0,56,110,0.5396533613445378) 25%), url('../assets/logos/founders.jpg');
    background-position: right top ;
    
}

}

#coworkers_img{
    width: 100%;
    height: auto;
}

#distributor_discover{
    
    background-color:  #ff7b43;
}
#distributor_discover_icon{
 font-size: 70px;
}
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.type1 {
    width: 200px;
    height: 200px;
    background: transparent;
    border: 3px solid #ff7b43;
}
.numbrer_our_numbers{
    color: #ff7b43;
    font-weight: bold;

}

#disteributor_infrastructure{
    background-image:  linear-gradient( rgba(152,162,165,.7) , rgba(152,162,165,.7) ), url('../assets/img/background-corporative.png');

   background-size: cover;
    background-repeat: no-repeat;

    background-position: 50% 20%;
   
}
#icon_infrastructure{
 font-size: 100px;
}
.btn{
    color: #ffffff;
    font-size:  calc(19px + .5vw);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    background-color: #ff7b43;
}
#form-div{
    border: #ff7b43;
    border-style: solid;
    border-radius:  1rem;
    margin-bottom: 1%;
}
#find_us_icon{
    color: #ff7b43;
    font-size: 500%;
}
#map {
    height: 400px;
   
}
#title_row{
    font-size: 9vw;
    color: #535457;
    margin-top: 10%;
    margin-bottom: 10%;
}
#image_row{
    height: auto;
    width: 50%;
}
#job_entry{
    border: solid;
    border-radius: 15px;
    background-color: #d2edf4;

}
.div-mobile {
    display: block; /* Initially shown on mobile */
  }   
  .div-monitor {
    display: none; /* Initially hidden on mobile */
  }    /* Media query for screens larger than 768px (adjust as needed) */
  @media (min-width: 800px) {
  .div-mobile {
    display: none; /* Hide on larger screens */
  }
  .div-monitor {
    display: block; /* Show on larger screens */
          }
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

@media   (max-width:500) {
  #responsive-carropusel{
   display: none;
  } 
}
    /* Styles for both divs */
.div-mobile {
  display: block; /* Initially shown on mobile */
}   
.div-monitor {
  display: none; /* Initially hidden on mobile */
}    /* Media query for screens larger than 768px (adjust as needed) */
@media (min-width: 850px) {
.div-mobile {
  display: none; /* Hide on larger screens */
}
.div-monitor {
  display: block; /* Show on larger screens */
        }
    }
  #cardImg{
   width:1000px;
   height: 150px;
  }
#OurServicesBtn{
  background-color: #8e9440;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  margin: 4px 2px;
}
#OurServicesBtnCS{
  background-color: #ffffff;
  border: none;
  color: #8e9440;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  margin: 4px 2px;
}
#territoryCovered{
  width:100%;
  height: 100%;
}
 #imgCarrousel{
  width: 100%;
  height: 100px;
  object-fit: contain;
 }
 #imgCarrousel1{
  width: 100%;
  height: 100px;
  object-fit: cover;
 }

 .timeline {
	max-width: 100%;
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
  margin-left: 10%;
}
	.timeline:before {
		top: 2px;
		bottom: 15px;
		position: absolute;
		content: " ";
		width: 3px;
		background-color: #eeeeee;
		left: 50%;
		margin-left: -1.5px;
	}
		.arrowhead{
			width: 0;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -15px;
			
			border-top: 0 solid transparent;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid #eeeeee;
		}
	.timeline > li {
		min-height: 400px;
		width: 50%;
		padding-left: 42px;
		padding-right: 42px;		
		margin-bottom: 30px;		
		position: relative;		
		float: left;
		clear: left;
	}

/*Panel*/
	.timeline > li > .timeline-panel {
		width: 92%;
		float: left;
		
		/*border-radius: 2px;*/
		/*padding: 20px;*/
		position: relative;
		
	}
		.timeline > li > .timeline-panel:before {
			position: absolute;
			top: 26px;
			right: -15px;
			display: inline-block;
			border-top: 15px solid transparent;
			border-left: 15px solid #ccc;
			border-right: 0 solid #ccc;
			border-bottom: 15px solid transparent;
			content: " ";
		}
		.timeline > li > .timeline-panel:after {
			position: absolute;
			top: 27px;
			right: -14px;
			display: inline-block;
			border-top: 14px solid transparent;
			border-left: 14px solid #fff;
			border-right: 0 solid #fff;
			border-bottom: 14px solid transparent;
			content: " ";		
		}

		.timeline-panel img {
			width: 100%;
			padding: 10px 10px 0 10px;
		}


/*Inverted panel*/
	.timeline > li.timeline-inverted > .timeline-panel {
		float: right;
	}
		.timeline > li.timeline-inverted > .timeline-panel:before {
			border-left-width: 0;
			border-right-width: 15px;
			left: -15px;
			right: auto;
		}
		.timeline > li.timeline-inverted > .timeline-panel:after {
			border-left-width: 0;
			border-right-width: 14px;
			left: -14px;
			right: auto;
		}

	.timeline > li.timeline-inverted{
		float: right; 
		clear: right;
		margin-top: 0px;
		margin-bottom: 30px;
	}
		.timeline > li:nth-child(3) {
			margin-top: 100px;
		}


	/*Last panel*/
	@media (min-width: 850px) {
		.timeline .last{
			margin-top: -40px;
		}
			.timeline .last .timeline-panel{
          margin-top: 75px;
          left: calc(50% + 60px);
			}
			.timeline .last .timeline-panel:before{
				top: -15px;
				right: calc(50% - 7px);
				border-top: 0 solid transparent;
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				border-bottom: 15px solid #ccc;
			}
			.timeline .last .timeline-panel:after{
				top: -14px;
				right: calc(50% - 6.5px);
				border-top: 0 solid transparent;
				border-left: 14px solid transparent;
				border-right: 14px solid transparent;
				border-bottom: 14px solid #fff;
			}
	}


/*Badge*/
	.timeline > li > .timeline-badge {   
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 1.2em;
		text-align: center;
		position: absolute;
		top: 16px;
		right: 5px;
		z-index: 100; 
		border-top-right-radius: 50%;
		border-top-left-radius: 50%;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%; 
		cursor: default;
	}
		.timeline > li.timeline-inverted > .timeline-badge{
			left: 5px;
		}

	.timeline > li > .timeline-badge:before{
		position: absolute;
		top: 58%;
		right: -11px;
		content: ' ';
		display: block;
		width: 12px;
		height: 12px;
		margin-top: -10px;
		background: #fff;
		border-radius: 10px;
		border: 4px solid rgb(255,80,80);
		z-index: 10;
	}
		.timeline > li.timeline-inverted > .timeline-badge:before{
			left: -11px;
		}




/*Content*/
	.timeline-title {
	  margin-top: 0;
	  padding: 20px 20px 0px 20px;
	  color: inherit;
	}
	.timeline-body > p,
	.timeline-body > ul {
		padding:0 20px 20px 20px;
		margin-bottom: 0;
	}
  .timeline-body{
      font-weight: normal;
      font-size:  2rem;
      color: #ccc;
      
  }
		.timeline-body > p + p {
		  margin-top: 5px;
      
      
		}

	.timeline-footer{
		background-color:#f4f4f4;
		padding: 10px;
		text-align: center;		
	}
		.timeline-footer > a{
			padding:20px;
			cursor: pointer;
			text-decoration: none;
		}

/*Placement small devices*/
@media (max-width: 850px) {
     ul.timeline:before { 
 		    bottom: -15px;
  }
    ul.timeline:before, .arrowhead {
        left: 10px;    
    }
  
    ul.timeline > li {
	  min-height: 50px;
      margin-bottom: 20px;
      padding-right: 5px;
      position: relative;
      width:100%;
      float: left;
      clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 40px);
        width: -moz-calc(100% - 40px);
        width: -webkit-calc(100% - 40px);
    }


    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
    
	.timeline > li.timeline-inverted{
		float: left; 
		clear: left;
		margin-top: 0;
		margin-bottom: 20px;
	}

  ul.timeline > li > .timeline-badge, ul.timeline > li.timeline-inverted > .timeline-badge{
    left: 15.5px;
  }   
	ul.timeline > li > .timeline-badge:before, ul.timeline > li.timeline-inverted > .timeline-badge:before{
    left: -11.5px;
	}
}
#timeline-container{
  text-align: center;



}
.timeline-p{

  font-style: oblique;
  font-size:  2rem;
  color: #ccc;

}
@media (max-width:500px) {
  .timeline-body{
    font-style: oblique;
      font-size:  1rem;
      color: #ccc;
  }
  
}
* {
    margin: 0;
  }
  .loader {
    transition: 0.3s cubic-bezier(1, 0.01, 0.29, 1.01);
    background-color: #fa8072;
    left: 0;
    right: 100%;
    position: absolute; 
    height: 100vh;
    z-index: 101;
  }
  
  .loader i {
    position: fixed;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
  color: #fff;
  }
  
  body {
    margin: 0;
  }
  * {
    margin: 0;
  }
  .loader {
    transition: 0.3s cubic-bezier(1, 0.01, 0.29, 1.01);
    background-color: #fa8072;
    left: 0;
    right: 100%;
    position: absolute; 
    height: 100vh;
    z-index: 101;
  }
  
  .loader i {
    position: fixed;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
  color: #fff;
  }
  #blogTextArea{
    height: 1000px;
  }
  .orangeColor{
    color : #ff7b43;
  }
  #headerLogo{
   color: #fff;
   position: absolute; 
   top: 40%; left: 10%; 
   transform: translate(-50%,-50%);
  }
  @media(max-width:600px){
    #headerLogo{
      position: absolute; 
      top: 50%; left: 30%; 
      transform: translate(-50%,-50%);
     }
  }
  .footer-text{
    font-size: calc(20px + .2vw);
  }
  .colorBlue{

  background-color: #00386e;
  }
  
  
  #timeline {
    display: flex;
    background-color: #ffffff;
  
    &:hover {
      .tl-item {
        width: 23.3333%;
      }
    }
  }
  .tl-date{
    color: #ff7b43;
    font-size: 72px;
  }
  @media(max-with:500px){
    .tl-date{
      color: #ff7b43;
      font-size: 22px;
    }
  }
 
  .tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 60vh;
    min-height: 600px;
    color: #ffffff;
    overflow: hidden;
    transition: width 0.5s ease;
    
    &:before, &:after {
      transform: translate3d(0, 0, 0);
      content: '';
      position: absolute;
      left: 0; top: 0;
      width: 100%; height: 100%;
    }
  
    &:after {
      background: transparentize(#031625, 0.15);
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  
    &:before {
      background: linear-gradient(to bottom, rgba(13,56,128,0) 0%,rgba(13,56,128,1) 75%);
      z-index: 1;
      opacity: 0;
      transform: translate3d(0, 0, 0) translateY(50%);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  
    &:hover {
      width: 30% !important;
      
      &:after {
        opacity: 0;
      }
  
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0) translateY(0);
        transition: opacity 1s ease, transform 1s ease 0.25s;
      }
      
      .tl-content {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.75s ease 0.5s;
      }
  
      .tl-bg {
        filter: grayscale(0);
      }
        
      .tl-date{
        color: #ffffff;
        font-size: 30px;
      } 
  
    }
  }
  @media(max-width:700px){
    .tl-item {
      transform: translate3d(0, 0, 0);
      position: relative;
      width: 100%;
      height: 60vh;
      min-height: 600px;
      color: #ffffff;
      overflow: hidden;
      transition: width 0.5s ease;
      
      &:before, &:after {
        transform: translate3d(0, 0, 0);
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
      }
    
      &:after {
        background: transparentize(#031625, 0.15);
        opacity: 1;
        transition: opacity 0.5s ease;
      }
    
      &:before {
        background: linear-gradient(to bottom, rgba(13,56,128,0) 0%,rgba(13,56,128,1) 75%);
        z-index: 1;
        opacity: 0;
        transform: translate3d(0, 0, 0) translateY(100%);
        transition: opacity 0.5s ease, transform 0.5s ease;
      }
    
      &:hover {
        width: 30% !important;

      
        
        &:after {
          opacity: 0;
        }
    
        &:before {
          opacity: 1;
          transform: translate3d(0, 0, 0) translateY(0);
          transition: opacity 1s ease, transform 1s ease 0.25s;
        }
        
        .tl-content {
          opacity: 1;
          transform: translateY(0);
          transition: all 0.75s ease 0.5s;
        }
    
        .tl-bg {
          filter: grayscale(0);
        }
          
        .tl-date{
          color: #ffffff;
          font-size: 30px;
        } 
    
      }
      @media(max-width:900px){
      &:hover {
        width: 100% !important;

      
        
        &:after {
          opacity: 0;
        }
    
        &:before {
          opacity: 1;
          transform: translate3d(0, 0, 0) translateY(0);
          transition: opacity 1s ease, transform 1s ease 0.25s;
        }
        
        .tl-content {
          opacity: 1;
          transform: translateY(0);
          transition: all 0.75s ease 0.5s;
        }
    
        .tl-bg {
          filter: grayscale(0);
        }
          
        .tl-date{
          color: #ffffff;
          font-size: 30px;
        } 
    
      }
      }
    }
  }

  
  .tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
    
    h1 {
      font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
      text-transform: uppercase;
      color: #1779cf;
      font-size: 1.44rem;
      font-weight: normal;
    }
  }
  
  .tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    
    p {
      font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
      font-size: 1.728rem;
      line-height: 0;
    }
  }
  
  .tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
  }
  .f-24{
    font-size: calc( 20px + .2vw);
  }
  .f-42{
    font-size: calc( 42px + .2vw);
  }

  .f-32{
    font-size: calc( 32px + .2vw);
  }
  .job-entry-img{
    width: 100%;
    height: auto;
  }
  .blog-text{
    padding: 10%;
    
   

  }
  .iden-text{
    padding: 10%;
    position: absolute;
    bottom: 10vh;
  }
  
  .logo_iden{
    width: auto;
    height: 15vh;
  }
  
  .title_iden{
    font-size: calc( 50px + .2vw);
  }
  .parragraph_iden{
    font-size: calc( 17px + .2vw);

  }
  .icon_row{

    
    max-height: 60vh;
  }
  .img-logo{
    height: auto;
    width: 50%;
  }
  .ident-column{
    display:inline-block;
    border-radius: 10rem;
   

  }
  .col-mv{
    border-radius: 2rem; 
    background-color: #f18562;
    box-shadow: 10px 5px 5px #c0c0c0;

  } 
  .grid-item{
    width:40%;
    padding: 10px;
    margin-bottom: 15%;
    margin-right: 5%;
    /* color: #fff; */
  }
  .grid-item-width{
    width:50%;
  }
  .flower{
    background: teal;
  }
  .etail{
    background: white;
  }
  .fruit{
    background: purple;
  }
  .filter-img{

    width: 100%;
    height: auto;

  }
  .icon-category{
    /* width: 3rem;
    height: 3rem; */
    font-size: 2rem;
  }
  .icon-title{
    font-size: 1.5rem;
    color: #e03f0a;
  }
  .v-center {
    display: flex;
    align-items: center;
 }
 .v-down {
  display: inline-block;
  align-items: bottom;
}
.btn-channels{
  background-color: #ffffff;
  font-size:  calc(19px + .5vw);
  box-shadow: 2px 2px 4px rgba(0, 0, 0.5, 0.5);
  border-color: #3e6890;
  border-radius: 1.5rem;
  font-weight: bold;

  color: #ff7b43;
}
@media(max-width:500px){
  .btn-channels{
    background-color: #ffffff;
    font-size:  calc(19px );
    box-shadow: 2px 2px 4px rgba(0, 0, 0.5, 0.5);
    border-color: #3e6890;
    border-radius: 1.5rem;
    font-weight: bold;
  
    color: #ff7b43;
  }
}


.btn-channels:active{
  color: #ffffff;
  font-size:  calc(19px + .5vw);
  box-shadow: 2px 2px 4px rgba(0, 0, 0.5, 0.5);
  border-radius: 1.5rem;
  font-weight: bold;

  background-color: #00386e;
}
.btn-channels:visited{
  color: #ffffff;
  font-size:  calc(19px + .5vw);
  box-shadow: 2px 2px 4px rgba(0, 0, 0.5, 0.5);
  border-radius: 1.5rem;
  font-weight: bold;

  background-color: #00386e;
}